<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Пеликан</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<div id="app">

    <!--  !!! Удалить  -->
    <div id="temp-modal" class="modal">
        <div class="modal-content center-align">
            <h4>Это временная модалка</h4>

            <div class="switch m-b-10">
                <label>
                    Участник
                    <input type="checkbox" v-model="user.leading">
                    <span class="lever"></span>
                    Ведущий
                </label>
            </div>

            <div class="switch">
                <label>
                    Web-камера
                    <input type="checkbox" v-model="room.isIPCams">
                    <span class="lever"></span>
                    IP-камеры
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
        </div>
    </div>
    <!--  !!! Удалить  -->

    <!-- Header Start -->
    <div id="header" class="row grey lighten-3 m-b-0 valign-wrapper">
        <!-- Status Buttons Start -->
        <div class="col s4 m2 l2 valign-wrapper">
            <span v-if="user.leading">
                <i v-if="isShowStartButton" @click="roomStartResume" class="material-icons cur">play_circle_outline</i>
                <i v-if="isShowPauseButton" @click="roomPause" class="material-icons cur">pause_circle_outline</i>
                <i v-if="isShowStopButton" @click="roomStop" class="material-icons cur">stop</i>
            </span>
            <i class="material-icons tiny">arrow_downward</i> {{ timeToEndString }}
        </div>
        <!-- Status Buttons End -->

        <div class="col m5 l7 hide-on-small-only truncate">
            {{ room.title }}
        </div>

        <div class="col s8 m5 l3">
            <!-- Settings Buttons Start -->
            <span>
                <i @click="videoHideShow" :class="{'teal-text': video.isVisible}" class="material-icons cur">ondemand_video</i>
                <i @click="presentationHideShow" :class="{'teal-text': presentation.isVisible}"
                   class="material-icons cur">settings_system_daydream</i>
                <i @click="chatHideShow" :class="{'teal-text': chat.isVisible}" class="material-icons cur">chat</i>
                <i @click="visitorsHideShow" :class="{'teal-text': visitors.isVisible}" class="material-icons cur">people_outline</i>
                <i class="material-icons cur">folder_open</i>
                <i class="material-icons cur">settings</i>
            </span>
            <!-- Settings Buttons End -->

            <i class="material-icons right cur">exit_to_app</i>
        </div>
    </div>
    <!-- Header End -->

    <div style="display: flex; position: relative">
        <!-- Video Start -->
        <div v-show="video.isVisible"
             :class="[{'video-big full-width': isVideoMain || breakpoint.s, 'video-small': !isVideoMain && !breakpoint.s}]"
             :style="{ right : styleSmallRight + 'px' }"
             class="blue lighten-5">
            <span v-if="!room.isStarted">VIDEO - ROOM NOT STARTED</span>
            <span v-if="room.isStarted && !room.isPaused">VIDEO - ROOM STARTED</span>
            <span v-if="room.isStarted && room.isPaused">VIDEO - ROOM PAUSED</span>

            <i v-if="!isVideoMain" @click="setVideoMain" class="material-icons set-main cur">aspect_ratio</i>
        </div>
        <!-- Video End -->

        <!-- Presentation Start -->
        <div v-show="presentation.isVisible"
             :class="[{'presentation-big full-width': isPresentationMain || breakpoint.s, 'presentation-small': !isPresentationMain && !breakpoint.s}]"
             :style="{ right : styleSmallRight + 'px' }"
             class="purple lighten-5">
            PRESENTATION

            <i v-if="!isPresentationMain" @click="setPresentationMain"
               class="material-icons set-main cur">aspect_ratio</i>
        </div>
        <!-- Presentation End -->

        <!-- Chat Start -->
        <div v-show="chat.isVisible" class="chat" :class="{'full-width': breakpoint.s}">
            <div>
                <div v-for="mess in chat.messages" class="row m-b-10">
                    <div class="col s2">
                        {{ mess.time }}
                    </div>
                    <div class="col s10 truncate valign-wrapper">
                         <i v-if="isUserLeadingByID(mess.user_id)" class="material-icons tiny cur">person</i>
                        {{ userNameByID(mess.user_id) }}
                    </div>
                    <div class="col s12">
                        {{ mess.text }}
                         <i v-if="user.leading" @click="deleteMessageByID(mess.id)" class="material-icons tiny cur">clear</i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s10 input-field">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Сообщение</label>
                </div>
                <div class="col s2">
                     <i @click="" class="material-icons cur">send</i>
                </div>
            </div>
        </div>
        <!-- Chat End -->

        <!-- Visitors Start -->
        <div v-show="visitors.isVisible" class="lime lighten-5 visitors" :class="{'full-width': breakpoint.s}">
            <div class="visitors-header">
                <div>
                    <i @click="usersSortByHand" class="material-icons tiny cur">arrow_upward</i>
                </div>
                <div></div>
                <div></div>
                <div>
                    <i @click="usersSortByName" class="material-icons tiny cur">sort_by_alpha</i>
                </div>
                <div>
                    <i class="material-icons tiny right">settings</i>
                </div>
            </div>

            <div v-for="u in users" class="visitors-list">
                <div>
                    <i v-if="u.leading" class="material-icons tiny">person</i>
                    <i v-if="u.hand" class="material-icons tiny">pan_tool</i>
                </div>
                <div>
                    <i v-if="u.cam" class="material-icons tiny">videocam</i>
                    <i v-else class="material-icons tiny grey-text text-lighten-2">videocam</i>
                </div>
                <div>
                    <i v-if="u.mic" class="material-icons tiny">mic</i>
                    <i v-else class="material-icons tiny grey-text text-lighten-2">mic</i>
                </div>
                <div class="truncate">
                    {{ u.name }}
                </div>
            </div>
        </div>
        <!-- Visitors End -->
    </div>

</div>

<!-- версия для разработки, отображает полезные предупреждения в консоли -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production-версия, оптимизированная для размера и скорости -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="static/js/moment.min.js"></script>
<script src="static/js/app.js"></script>

<script>
    new Vue(VueApp);
</script>
</body>
</html>