<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Пеликан</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<div id="app">

    <!-- Header Start -->
    <div id="header" class="row grey lighten-3 m-b-0 valign-wrapper">
        <!-- Status Buttons Start -->
        <div class="col s4 m2 l2 valign-wrapper">
            <i v-if="isShowStartButton" @click="roomStartResume" class="material-icons">play_circle_outline</i>
            <i v-if="isShowPauseButton" @click="roomPause" class="material-icons">pause_circle_outline</i>
            <i v-if="isShowStopButton" @click="roomStop" class="material-icons">stop</i>
            <i class="material-icons tiny">arrow_downward</i> {{ timeToEndString }}
        </div>
        <!-- Status Buttons End -->

        <div class="col m5 l7 hide-on-small-only truncate">
            {{ room.title }}
        </div>

        <div class="col s8 m5 l3">
            <!-- Settings Buttons Start -->
            <span>
                <i @click="videoHideShow" :class="{'teal-text': video.isVisible}" class="material-icons">ondemand_video</i>
                <i @click="presentationHideShow" :class="{'teal-text': presentation.isVisible}" class="material-icons">settings_system_daydream</i>
                <i @click="chatHideShow" :class="{'teal-text': chat.isVisible}" class="material-icons">chat</i>
                <i @click="visitorsHideShow" :class="{'teal-text': visitors.isVisible}" class="material-icons">people_outline</i>
                <i class="material-icons">folder_open</i>
                <i class="material-icons">settings</i>
            </span>
            <!-- Settings Buttons End -->

            <i class="material-icons right">exit_to_app</i>
        </div>
    </div>
    <!-- Header End -->

    <div style="display: flex; position: relative">
        <!-- Video Start -->
        <div v-show="video.isVisible"
             :class="[{'video-big full-width': isVideoMain || breakpoint.s, 'video-small': !isVideoMain && !breakpoint.s}]"
             :style="{ right : styleSmallRight + 'px' }"
             class="blue lighten-5">
            <span v-if="!room.isStarted">VIDEO - ROOM NOT STARTED</span>
            <span v-if="room.isStarted && !room.isPaused">VIDEO - ROOM STARTED</span>
            <span v-if="room.isStarted && room.isPaused">VIDEO - ROOM PAUSED</span>

            <i v-if="!isVideoMain" @click="setVideoMain" class="material-icons set-main">aspect_ratio</i>
        </div>
        <!-- Video End -->

        <!-- Presentation Start -->
        <div v-show="presentation.isVisible"
             :class="[{'presentation-big full-width': isPresentationMain || breakpoint.s, 'presentation-small': !isPresentationMain && !breakpoint.s}]"
             :style="{ right : styleSmallRight + 'px' }"
             class="purple lighten-5">
            PRESENTATION

            <i v-if="!isPresentationMain" @click="setPresentationMain" class="material-icons set-main">aspect_ratio</i>
        </div>
        <!-- Presentation End -->

        <!-- Chat Start -->
        <div v-show="chat.isVisible" class="green lighten-5 chat" :class="{'full-width': breakpoint.s}">
            CHAT
        </div>
        <!-- Chat End -->

        <!-- Visitors Start -->
        <div v-show="visitors.isVisible" class="lime lighten-5 visitors" :class="{'full-width': breakpoint.s}">
            VISITORS
        </div>
        <!-- Visitors End -->
    </div>

</div>

<!-- версия для разработки, отображает полезные предупреждения в консоли -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production-версия, оптимизированная для размера и скорости -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="static/js/moment.min.js"></script>
<script src="static/js/app.js"></script>

<script>
    new Vue(VueApp);
</script>
</body>
</html>