.chat {
  width: 350px;
  min-width: 350px;
  height: 100%;

  border: solid black;
  border-width: 0 0 0 1px;

  padding-top: 10px;
  padding-bottom: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

    &-header {
    display: flex;
    margin-bottom: 5px;
    position: relative;

    border-bottom: 1px solid;

    div {
      width: 15px;
      margin-right: 5px;
    }
  }
}