.chat {
  width: 350px;
  min-width: 350px;
  height: calc(100vh - #{$header-height});

  border: solid black;
  border-width: 0 0 0 1px;

  padding-top: 10px;
  padding-bottom: 10px;

  overflow-x: hidden;
  overflow-y: scroll;
}