#header {
  height: $header-height;

  #room-control-buttons{
    margin-left: 0;
  }

  .header-button-holder{
    display: block;
      i{
        position: relative;
        top: 3px;
      }

    & > .settings-block{
        right: 70px;
      position: absolute;
    }

        & > .button-block{
        right: 140px;
      position: absolute;
    }
  }
}
