.main{
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);

  &-small {
    flex-direction: column;
  }

  & > .small-mode{
    position: relative;
    display: inline-block;

    right: 0 !important;
    top: 0 !important;
    border: 0 !important;

    &.orientation-row{
      //height: calc(100% - #{$header-height});
      height: 100%;
      width: 50%;
    }

    &.orientation-column{
      //height: calc(50% - 20px);
      height: 50%;
      width: 100%;
    }

    &.small-mode-top{
      order: 1;
    }

    &.small-mode-bottom{
      order: 2;
    }
  }

  .button-block{
    position: absolute;
    z-index: 101;
    right: 15px;
    top: 5px;
    &#button-block-small-top{
      &.position-row {
        right: calc(50% + 15px)
      }
      &.position-column {
        right: 15px;
      }
    }
    &#button-block-small-bottom{
      top: calc(50% - 20px + 25px);
      &.position-row {
        top: 5px;
      }
      &.position-column {
        top: calc(50% - 20px + 25px);
        right: 15px;
      }
    }
  }
}
