.visitors {
  width: 350px;
  min-width: 350px;
  height: calc(100vh - #{$header-height});

  border: solid black;
  border-width: 0 1px 1px 0;

  padding: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

  &-header {
    display: flex;
    margin-bottom: 5px;
    position: relative;

    border-bottom: 1px solid;

    div {
      width: 15px;
      margin-right: 5px;

      &:last-child {
        position: absolute;
        right: 0;
      }
    }
  }

  &-list {
    display: flex;

    div {
      width: 15px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
        width: auto;
      }
    }
  }
}